.mainbox{
    width: 82%;
    margin: 0.5%;
    padding:  5px 1% 5px 0%;
    height: inherit;
    height: 500px;
    /* border:5px solid rgb(0, 102, 255); */
    z-index: 1;
    margin-left: 17%;
    margin-top: 56px;
    
    
}
.winebutton{
    background-color: #ef4859;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0px;
    height: 40px;
    width: 182px;
    
    border-radius: 4px;
    justify-content: space-evenly;
   
    
}
.mainbox>:nth-child(1){
    display: flex;
    justify-content: space-between;
    /* border: 3px solid red; */
    text-align: center;
    align-items: center;
    height: 40px;
    
    color: #666666;
    font-weight: 600;

}
.secondmainatmain{
    display: flex;
    justify-content: center;
    
   
}

.secondmainatmain>div{
   
    border-radius: 7px;
    /* flex-wrap: wrap; */
    width: 20%;
    padding: 10px 1.5%;
    height: 70px;
    
 
    
    justify-content: space-between;
    margin: 1%;
    color: #8C8CA1;
    box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
    /* border: 1px solid green; */
}
.linediv{
    display: flex;
    justify-content: space-between;
}
.secondmainatmain h3{
    color: black;
    text-align: left;
    margin-top: 2px;
}
.secondmainatmain >:nth-child(1)
{
    border-top:3px solid #ffab2e;
}
.secondmainatmain >:nth-child(2)
{
    border-top:3px solid #5f8cff;
}
.secondmainatmain >:nth-child(3)
{
    border-top:3px solid #04cf3d;
}
.secondmainatmain >:nth-child(4)
{
    border-top:3px solid #ff2d2d;
}


/* third main box styles */
.thirdbox{
    border: 1px solid rgba(114, 114, 114, 0.33);
    width: 95%;
    
    height: 670px;
    padding: 1% 1% 1% 1%;
}
.subthird1{
    display: flex;
    border: 1px solid rgba(171, 171, 171, 0.139);
    padding: 1%;
    

}
.newsub2{
    display: flex;
    flex-direction: row-reverse;
    width: 49%;
    align-items: center;
    
}
.newsub2>:nth-child(3),:nth-child(4){
    margin: 0px 3%;

}
.newsub1{
    display: grid;
    grid-template-rows: 5px 5px;
    grid-template-columns: 1;
    width: 49%;
    align-items: center;
    justify-content: left;
    
}
.subthird1{
    display: flex;
    /* border: 1px solid hotpink; */
    height: 50px;
    align-items: center;

   
}

.chartmainbox{
    /* border: 2px solid red; */
   display: flex;
   border-radius: 4px;

  

}
.upperoneline{
    display: flex;
    /* border: 3px solid green; */
    align-items: center;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
}
.myflex{
    display: flex;
    align-items: center;
}

.chartrightbox{
    text-align: left;
    width: 25%;
    /* border: 2px solid yellow; */
}
.myflex *{
    color: #04cf3d;
    font-weight: 500;
}
.graytext{
    font-weight: 500;
    color: gray;
}

/* styling for fourth box */

.fourthboxmain{
    
    width:100%;
  
    
}
.mythead{
    display: flex;
    
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid rgba(128, 128, 128, 0.245);
    border-bottom: 1px solid rgba(128, 128, 128, 0.245);
    padding: 15px 10px;
    
    
}
.mythead>div{
    /* border: 5px solid green; */
    text-align: left;
    margin-left: 10px;
}
.mythead :nth-child(1)
{
    flex-grow: 1;
}
.mythead :nth-child(2)
{
    flex-grow: 1;
}
.mythead :nth-child(3)
{
    flex-grow: 7;
}

.mythead :nth-child(4)
{
    flex-grow: 1;
}
.mythead :nth-child(5)
{
    flex-grow: 1;
}
.mythead :nth-child(6)
{
    flex-grow: 1;
}
.mythead :nth-child(7)
{
    flex-grow: 1;
}
.mythead :nth-child(8)
{
    flex-grow: 1;
}

.myrow{
    display: flex;
    
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid rgba(128, 128, 128, 0.245);
    border-bottom: 1px solid rgba(128, 128, 128, 0.245);
    padding: 15px 10px;
}

.myrow>div{
    /* border: 5px solid green; */
    text-align: left;
    margin-left: 10px;
}
.myrow :nth-child(1)
{
    flex-grow: 1;
}
.myrow :nth-child(2)
{
    flex-grow: 1;
    font-size:15px;
}
.myrow :nth-child(3)
{
    flex-grow: 5;
    font-size: 18px;
    
}
.myrow :nth-child(4)
{
    flex-grow: 1;
    text-align: center;
    color: #2d4275;
    background-color: #364f8e17;
    
    font-size: 15px;
    
}
.myrow :nth-child(5)
{
    flex-grow: 1;
    color:gray;
    font-size: 15px;
}
.myrow :nth-child(6)
{
    flex-grow: 1;
    color:gray;
    font-size: 15px;
}
.myrow :nth-child(7)
{
    flex-grow: 1;
    color:gray;
    font-size: 15px;
}
.myrow :nth-child(8)
{
    flex-grow: 1;
    color:gray;
    font-size: 15px;
}

.myrow>img{
    width: 5px;
    
}
